* {
  box-sizing: border-box;
}

body, html {
  min-width: 420px;
}

body {
  margin: 0;
  padding: 35px 0 0 0;
  
  font: normal normal normal 14px/1.5 Helvetica, Arial, sans-serif;
  
  color: #333;
  
  background: #fff;
}

.centered-spinner {
  position: absolute;
  
  width: 40px;
  height: 40px;
  
  top: 50%;
  left: 50%;
  
  /* The spinner's center point is eq to the top left corner of this container so no need for negative margins */
}

#packages {
  width: 100%;
  
  list-style: none;
  margin: 0;
  padding: 0;
  
  font-size: 1em;
}

#packages > li {
  overflow: auto;
}

#packages > li > .package-info {
  float: left;
  padding: .2em .2em .2em 1em;
  
  max-width: 320px;
}

#packages > li > .package-info > span {
  display: block;
}

#packages > li > span:last-child {
  padding: .2em;
  padding-right: 1em;
  
  float: right;
}

#packages > .visible:nth-of-type(odd) {
  background-color: #f6f7f9;
}

#packages .url {
  font-size: .9em;
  color: #999;
  text-overflow: ellipsis;
}

@media screen and (max-width: 480px) {
  
  #packages .url {
    
  }
  
  
}

.filter-bar {
  background: -webkit-linear-gradient(top, #f0f0f0 0%,#eaeaea 7%,#dedede 100%); /* Chrome10+,Safari5.1+ */
  width: 100%;
  position: fixed;
  height: 35px;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-bottom: 1px solid #8e8e8e;
  top: 0;
  padding: 3px 10px;
}

.filter-bar input {
  width: 100%;
  font-size: 1.2em;
  outline: none;
}

.filter-bar input:focus {
  outline: none;
}